*{
    padding: 0;
    margin: 0;
    font-family: "Noto Sans JP", sans-serif;
}

button{
    -webkit-appearance: none;
    border-radius: 0;
    margin: 0;
    background-color: #FFF;
    border: 1px solid #555;
}

.info{
    width: 95%;
    margin: 0 auto;
}

.title{
    margin-top: 40px;
    margin-bottom: 20px;
}

.txts{
    margin-left: 8px;
    padding-left: 5px;
    border-left: 2px solid gold;
    line-height: 30px;
}

#start{
    width: 120px;
    margin: auto;
    margin-top: 20px;
    padding: 1rem 1rem;
    font-weight: bold;
    border: 2px solid #27acd9;
    color: #27acd9;
    display: block;
    background: white;
}

.hidden{
    display: none !important;
}

.main{
    width: 100%;
    height: 557px;
    background: linear-gradient(45deg, #24435b, #3187bc);
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.buttonContainer {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(6, auto);
    gap: 7px;
}

.card{
    width: 58px;
    height: 86px;
    font-size: 160%;
    transform: rotateY(180deg);
    transition: all 1s ease;
    border-radius: 6px;
    border: .5px solid;
    background-color: #ffeaf7;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
}

.card:disabled{
    color: black;
}

.clear{
    text-align: center;
    margin-top: 40px;
}

#turndisp{
    margin-top: 20px;
}

.opened{
    transform: rotateY(0deg);
}

.finished{
    opacity: 0.7;
}

a.btn_02 {
	display: block;
	text-align: center;
	text-decoration: none;
	width: 150px;
	margin: auto;
	padding: 1rem 4rem;
	font-weight: bold;
	border: 2px solid #27acd9;
	background: #27acd9;
	color: #fff;
	transition: 0.5s;
}

footer{
    margin-top: 50px;
}